:root {
    --wcc: #f4f4f4;
    --gyc: #777;
    --dbc: darkblue;
    --occ: orange;
}

*{
    box-sizing: border-box;
}

body {
    /* viewpoint height (vh) */
    /* wh */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* (align-items: center;/no effect coz of no height) */

    overflow-y: hidden;
}

.container {
    width: 400px;
    background-color: var(--wcc);
    /*              h  v b  c */
    box-shadow: 0 2px 15px rgba(0,0,0,0.3);
}

.container h2{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container .img-box{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.container form{
    /*        t/b  l/r */
    padding: 10px 30px 40px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label{
    display: block;
    color: var(--gyc);
    margin-bottom: 5px;
}

.form-group .form-control {
    width: 100%;
    padding: 8px;
    
    border: none;
    outline: none;
    background-color: transparent;

    border-bottom: 2px solid var(--gyc);

    transition: all .5s;
}

.form-group .form-control::placeholder {
    color: rgba(0,0,0,0.3);
}

.form-group .form-control:focus {
    border-bottom: 2px solid var(--occ);
}

.form .btn{
    font-family: inherit;
    width: 100%;
    background-color: var(--dbc);
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 4px;

    cursor: pointer;
    padding: 10px;
    transition: background-color .5s;
}

.form .btn:hover {
    background-color: var(--occ);
}

.form .btn:active {
    background-color: var(--gyc);
}

.form .signupbtn {
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    padding: 10px;

    margin-top: 10px;

    background-color: var(--gyc);

    transition: background-color .5s;


}

.form .signupbtn:hover {
    background-color: var(--occ);
}